{
	"Type": "pokemon",

	"Post_Without_IV": false,

	"min_iv": 0,
	"max_iv": 100,

	"min_level": 0,
	"max_level": 35,

	"min_cp": 0,
	"max_cp": 10000,

	"gender": "All",

	"size": "big",

	"Bulbasaur": false,
	"Ivysaur": false,
	"Venusaur": false,
	"Charmander": false,
	"Charmeleon": false,
	"Charizard": false,
	"Squirtle": false,
	"Wartortle": false,
	"Blastoise": false,
	"Caterpie": false,
	"Metapod": false,
	"Butterfree": false,
	"Weedle": false,
	"Kakuna": false,
	"Beedrill": false,
	"Pidgey": false,
	"Pidgeotto": false,
	"Pidgeot": false,
	"Rattata": false,
	"Raticate": false,
	"Spearow": false,
	"Fearow": false,
	"Ekans": false,
	"Arbok": false,
	"Pikachu": false,
	"Raichu": false,
	"Sandshrew": false,
	"Sandslash": false,
	"Nidoran♀": false,
	"Nidorina": false,
	"Nidoqueen": false,
	"Nidoran♂": false,
	"Nidorino": false,
	"Nidoking": false,
	"Clefairy": false,
	"Clefable": false,
	"Vulpix": false,
	"Ninetales": false,
	"Jigglypuff": false,
	"Wigglytuff": false,
	"Zubat": false,
	"Golbat": false,
	"Oddish": false,
	"Gloom": false,
	"Vileplume": false,
	"Paras": false,
	"Parasect": false,
	"Venonat": false,
	"Venomoth": false,
	"Diglett": false,
	"Dugtrio": false,
	"Meowth": false,
	"Persian": false,
	"Psyduck": false,
	"Golduck": false,
	"Mankey": false,
	"Primeape": false,
	"Growlithe": false,
	"Arcanine": false,
	"Poliwag": false,
	"Poliwhirl": false,
	"Poliwrath": false,
	"Abra": false,
	"Kadabra": false,
	"Alakazam": false,
	"Machop": false,
	"Machoke": false,
	"Machamp": false,
	"Bellsprout": false,
	"Weepinbell": false,
	"Victreebel": false,
	"Tentacool": false,
	"Tentacruel": false,
	"Geodude": false,
	"Graveler": false,
	"Golem": false,
	"Ponyta": false,
	"Rapidash": false,
	"Slowpoke": false,
	"Slowbro": false,
	"Magnemite": false,
	"Magneton": false,
	"Farfetch'd": false,
	"Doduo": false,
	"Dodrio": false,
	"Seel": false,
	"Dewgong": false,
	"Grimer": false,
	"Muk": false,
	"Shellder": false,
	"Cloyster": false,
	"Gastly": false,
	"Haunter": false,
	"Gengar": false,
	"Onix": false,
	"Drowzee": false,
	"Hypno": false,
	"Krabby": false,
	"Kingler": false,
	"Voltorb": false,
	"Electrode": false,
	"Exeggcute": false,
	"Exeggutor": false,
	"Cubone": false,
	"Marowak": false,
	"Hitmonlee": false,
	"Hitmonchan": false,
	"Lickitung": false,
	"Koffing": false,
	"Weezing": false,
	"Rhyhorn": false,
	"Rhydon": false,
	"Chansey": false,
	"Tangela": false,
	"Kangaskhan": false,
	"Horsea": false,
	"Seadra": false,
	"Goldeen": false,
	"Seaking": false,
	"Staryu": false,
	"Starmie": false,
	"Mr. Mime": false,
	"Scyther": false,
	"Jynx": false,
	"Electabuzz": false,
	"Magmar": false,
	"Pinsir": false,
	"Tauros": false,
	"Magikarp": true,
	"Gyarados": false,
	"Lapras": false,
	"Ditto": false,
	"Eevee": false,
	"Vaporeon": false,
	"Jolteon": false,
	"Flareon": false,
	"Porygon": false,
	"Omanyte": false,
	"Omastar": false,
	"Kabuto": false,
	"Kabutops": false,
	"Aerodactyl": false,
	"Snorlax": false,
	"Articuno": false,
	"Zapdos": false,
	"Moltres": false,
	"Dratini": false,
	"Dragonair": false,
	"Dragonite": false,
	"Mewtwo": false,
	"Mew": false,
	"Chikorita": false,
	"Bayleef": false,
	"Meganium": false,
	"Cyndaquil": false,
	"Quilava": false,
	"Typhlosion": false,
	"Totodile": false,
	"Croconaw": false,
	"Feraligatr": false,
	"Sentret": false,
	"Furret": false,
	"Hoothoot": false,
	"Noctowl": false,
	"Ledyba": false,
	"Ledian": false,
	"Spinarak": false,
	"Ariados": false,
	"Crobat": false,
	"Chinchou": false,
	"Lanturn": false,
	"Pichu": false,
	"Cleffa": false,
	"Igglybuff": false,
	"Togepi": false,
	"Togetic": false,
	"Natu": false,
	"Xatu": false,
	"Mareep": false,
	"Flaaffy": false,
	"Ampharos": false,
	"Bellossom": false,
	"Marill": false,
	"Azumarill": false,
	"Sudowoodo": false,
	"Politoed": false,
	"Hoppip": false,
	"Skiploom": false,
	"Jumpluff": false,
	"Aipom": false,
	"Sunkern": false,
	"Sunflora": false,
	"Yanma": false,
	"Wooper": false,
	"Quagsire": false,
	"Espeon": false,
	"Umbreon": false,
	"Murkrow": false,
	"Slowking": false,
	"Misdreavus": false,
	"Unown": false,
	"Wobbuffet": false,
	"Girafarig": false,
	"Pineco": false,
	"Forretress": false,
	"Dunsparce": false,
	"Gligar": false,
	"Steelix": false,
	"Snubbull": false,
	"Granbull": false,
	"Qwilfish": false,
	"Scizor": false,
	"Shuckle": false,
	"Heracross": false,
	"Sneasel": false,
	"Teddiursa": false,
	"Ursaring": false,
	"Slugma": false,
	"Magcargo": false,
	"Swinub": false,
	"Piloswine": false,
	"Corsola": false,
	"Remoraid": false,
	"Octillery": false,
	"Delibird": false,
	"Mantine": false,
	"Skarmory": false,
	"Houndour": false,
	"Houndoom": false,
	"Kingdra": false,
	"Phanpy": false,
	"Donphan": false,
	"Porygon2": false,
	"Stantler": false,
	"Smeargle": false,
	"Tyrogue": false,
	"Hitmontop": false,
	"Smoochum": false,
	"Elekid": false,
	"Magby": false,
	"Miltank": false,
	"Blissey": false,
	"Raikou": false,
	"Entei": false,
	"Suicune": false,
	"Larvitar": false,
	"Pupitar": false,
	"Tyranitar": false,
	"Lugia": false,
	"Ho-Oh": false,
	"Celebi": false,
	"Treecko": false,
	"Grovyle": false,
	"Sceptile": false,
	"Torchic": false,
	"Combusken": false,
	"Blaziken": false,
	"Mudkip": false,
	"Marshtomp": false,
	"Swampert": false,
	"Poochyena": false,
	"Mightyena": false,
	"Zigzagoon": false,
	"Linoone": false,
	"Wurmple": false,
	"Silcoon": false,
	"Beautifly": false,
	"Cascoon": false,
	"Dustox": false,
	"Lotad": false,
	"Lombre": false,
	"Ludicolo": false,
	"Seedot": false,
	"Nuzleaf": false,
	"Shiftry": false,
	"Taillow": false,
	"Swellow": false,
	"Wingull": false,
	"Pelipper": false,
	"Ralts": false,
	"Kirlia": false,
	"Gardevoir": false,
	"Surskit": false,
	"Masquerain": false,
	"Shroomish": false,
	"Breloom": false,
	"Slakoth": false,
	"Vigoroth": false,
	"Slaking": false,
	"Nincada": false,
	"Ninjask": false,
	"Shedinja": false,
	"Whismur": false,
	"Loudred": false,
	"Exploud": false,
	"Makuhita": false,
	"Hariyama": false,
	"Azurill": false,
	"Nosepass": false,
	"Skitty": false,
	"Delcatty": false,
	"Sableye": false,
	"Mawile": false,
	"Aron": false,
	"Lairon": false,
	"Aggron": false,
	"Meditite": false,
	"Medicham": false,
	"Electrike": false,
	"Manectric": false,
	"Plusle": false,
	"Minun": false,
	"Volbeat": false,
	"Illumise": false,
	"Roselia": false,
	"Gulpin": false,
	"Swalot": false,
	"Carvanha": false,
	"Sharpedo": false,
	"Wailmer": false,
	"Wailord": false,
	"Numel": false,
	"Camerupt": false,
	"Torkoal": false,
	"Spoink": false,
	"Grumpig": false,
	"Spinda": false,
	"Trapinch": false,
	"Vibrava": false,
	"Flygon": false,
	"Cacnea": false,
	"Cacturne": false,
	"Swablu": false,
	"Altaria": false,
	"Zangoose": false,
	"Seviper": false,
	"Lunatone": false,
	"Solrock": false,
	"Barboach": false,
	"Whiscash": false,
	"Corphish": false,
	"Crawdaunt": false,
	"Baltoy": false,
	"Claydol": false,
	"Lileep": false,
	"Cradily": false,
	"Anorith": false,
	"Armaldo": false,
	"Feebas": false,
	"Milotic": false,
	"Castform": false,
	"Kecleon": false,
	"Shuppet": false,
	"Banette": false,
	"Duskull": false,
	"Dusclops": false,
	"Tropius": false,
	"Chimecho": false,
	"Absol": false,
	"Wynaut": false,
	"Snorunt": false,
	"Glalie": false,
	"Spheal": false,
	"Sealeo": false,
	"Walrein": false,
	"Clamperl": false,
	"Huntail": false,
	"Gorebyss": false,
	"Relicanth": false,
	"Luvdisc": false,
	"Bagon": false,
	"Shelgon": false,
	"Salamence": false,
	"Beldum": false,
	"Metang": false,
	"Metagross": false,
	"Regirock": false,
	"Regice": false,
	"Registeel": false,
	"Latias": false,
	"Latios": false,
	"Kyogre": false,
	"Groudon": false,
	"Rayquaza": false,
	"Jirachi": false,
	"Deoxys": false,
	"Turtwig": false,
	"Grotle": false,
	"Torterra": false,
	"Chimchar": false,
	"Monferno": false,
	"Infernape": false,
	"Piplup": false,
	"Prinplup": false,
	"Empoleon": false,
	"Starly": false,
	"Staravia": false,
	"Staraptor": false,
	"Bidoof": false,
	"Bibarel": false,
	"Kricketot": false,
	"Kricketune": false,
	"Shinx": false,
	"Luxio": false,
	"Luxray": false,
	"Budew": false,
	"Roserade": false,
	"Cranidos": false,
	"Rampardos": false,
	"Shieldon": false,
	"Bastiodon": false,
	"Burmy": false,
	"Wormadam": false,
	"Mothim": false,
	"Combee": false,
	"Vespiquen": false,
	"Pachirisu": false,
	"Buizel": false,
	"Floatzel": false,
	"Cherubi": false,
	"Cherrim": false,
	"Shellos": false,
	"Gastrodon": false,
	"Ambipom": false,
	"Drifloon": false,
	"Drifblim": false,
	"Buneary": false,
	"Lopunny": false,
	"Mismagius": false,
	"Honchkrow": false,
	"Glameow": false,
	"Purugly": false,
	"Chingling": false,
	"Stunky": false,
	"Skuntank": false,
	"Bronzor": false,
	"Bronzong": false,
	"Bonsly": false,
	"Mime Jr.": false,
	"Happiny": false,
	"Chatot": false,
	"Spiritomb": false,
	"Gible": false,
	"Gabite": false,
	"Garchomp": false,
	"Munchlax": false,
	"Riolu": false,
	"Lucario": false,
	"Hippopotas": false,
	"Hippowdon": false,
	"Skorupi": false,
	"Drapion": false,
	"Croagunk": false,
	"Toxicroak": false,
	"Carnivine": false,
	"Finneon": false,
	"Lumineon": false,
	"Mantyke": false,
	"Snover": false,
	"Abomasnow": false,
	"Weavile": false,
	"Magnezone": false,
	"Lickilicky": false,
	"Rhyperior": false,
	"Tangrowth": false,
	"Electivire": false,
	"Magmortar": false,
	"Togekiss": false,
	"Yanmega": false,
	"Leafeon": false,
	"Glaceon": false,
	"Gliscor": false,
	"Mamoswine": false,
	"Porygon-Z": false,
	"Gallade": false,
	"Probopass": false,
	"Dusknoir": false,
	"Froslass": false,
	"Rotom": false,
	"Uxie": false,
	"Mesprit": false,
	"Azelf": false,
	"Dialga": false,
	"Palkia": false,
	"Heatran": false,
	"Regigigas": false,
	"Giratina": false,
	"Cresselia": false,
	"Phione": false,
	"Manaphy": false,
	"Darkrai": false,
	"Shaymin": false,
	"Arceus": false,
	"Victini": false,
	"Snivy": false,
	"Servine": false,
	"Serperior": false,
	"Tepig": false,
	"Pignite": false,
	"Emboar": false,
	"Oshawott": false,
	"Dewott": false,
	"Samurott": false,
	"Patrat": false,
	"Watchog": false,
	"Lillipup": false,
	"Herdier": false,
	"Stoutland": false,
	"Purrloin": false,
	"Liepard": false,
	"Pansage": false,
	"Simisage": false,
	"Pansear": false,
	"Simisear": false,
	"Panpour": false,
	"Simipour": false,
	"Munna": false,
	"Musharna": false,
	"Pidove": false,
	"Tranquill": false,
	"Unfezant": false,
	"Blitzle": false,
	"Zebstrika": false,
	"Roggenrola": false,
	"Boldore": false,
	"Gigalith": false,
	"Woobat": false,
	"Swoobat": false,
	"Drilbur": false,
	"Excadrill": false,
	"Audino": false,
	"Timburr": false,
	"Gurdurr": false,
	"Conkeldurr": false,
	"Tympole": false,
	"Palpitoad": false,
	"Seismitoad": false,
	"Throh": false,
	"Sawk": false,
	"Sewaddle": false,
	"Swadloon": false,
	"Leavanny": false,
	"Venipede": false,
	"Whirlipede": false,
	"Scolipede": false,
	"Cottonee": false,
	"Whimsicott": false,
	"Petilil": false,
	"Lilligant": false,
	"Basculin": false,
	"Sandile": false,
	"Krokorok": false,
	"Krookodile": false,
	"Darumaka": false,
	"Darmanitan": false,
	"Maractus": false,
	"Dwebble": false,
	"Crustle": false,
	"Scraggy": false,
	"Scrafty": false,
	"Sigilyph": false,
	"Yamask": false,
	"Cofagrigus": false,
	"Tirtouga": false,
	"Carracosta": false,
	"Archen": false,
	"Archeops": false,
	"Trubbish": false,
	"Garbodor": false,
	"Zorua": false,
	"Zoroark": false,
	"Minccino": false,
	"Cinccino": false,
	"Gothita": false,
	"Gothorita": false,
	"Gothitelle": false,
	"Solosis": false,
	"Duosion": false,
	"Reuniclus": false,
	"Ducklett": false,
	"Swanna": false,
	"Vanillite": false,
	"Vanillish": false,
	"Vanilluxe": false,
	"Deerling": false,
	"Sawsbuck": false,
	"Emolga": false,
	"Karrablast": false,
	"Escavalier": false,
	"Foongus": false,
	"Amoonguss": false,
	"Frillish": false,
	"Jellicent": false,
	"Alomomola": false,
	"Joltik": false,
	"Galvantula": false,
	"Ferroseed": false,
	"Ferrothorn": false,
	"Klink": false,
	"Klang": false,
	"Klinklang": false,
	"Tynamo": false,
	"Eelektrik": false,
	"Eelektross": false,
	"Elgyem": false,
	"Beheeyem": false,
	"Litwick": false,
	"Lampent": false,
	"Chandelure": false,
	"Axew": false,
	"Fraxure": false,
	"Haxorus": false,
	"Cubchoo": false,
	"Beartic": false,
	"Cryogonal": false,
	"Shelmet": false,
	"Accelgor": false,
	"Stunfisk": false,
	"Mienfoo": false,
	"Mienshao": false,
	"Druddigon": false,
	"Golett": false,
	"Golurk": false,
	"Pawniard": false,
	"Bisharp": false,
	"Bouffalant": false,
	"Rufflet": false,
	"Braviary": false,
	"Vullaby": false,
	"Mandibuzz": false,
	"Heatmor": false,
	"Durant": false,
	"Deino": false,
	"Zweilous": false,
	"Hydreigon": false,
	"Larvesta": false,
	"Volcarona": false,
	"Cobalion": false,
	"Terrakion": false,
	"Virizion": false,
	"Tornadus": false,
	"Thundurus": false,
	"Reshiram": false,
	"Zekrom": false,
	"Landorus": false,
	"Kyurem": false,
	"Keldeo": false,
	"Meloetta": false,
	"Genesect": false,
	"Chespin": false,
	"Quilladin": false,
	"Chesnaught": false,
	"Fennekin": false,
	"Braixen": false,
	"Delphox": false,
	"Froakie": false,
	"Frogadier": false,
	"Greninja": false,
	"Bunnelby": false,
	"Diggersby": false,
	"Fletchling": false,
	"Fletchinder": false,
	"Talonflame": false,
	"Scatterbug": false,
	"Spewpa": false,
	"Vivillon": false,
	"Litleo": false,
	"Pyroar": false,
	"Flabébé": false,
	"Floette": false,
	"Florges": false,
	"Skiddo": false,
	"Gogoat": false,
	"Pancham": false,
	"Pangoro": false,
	"Furfrou": false,
	"Espurr": false,
	"Meowstic": false,
	"Honedge": false,
	"Doublade": false,
	"Aegislash": false,
	"Spritzee": false,
	"Aromatisse": false,
	"Swirlix": false,
	"Slurpuff": false,
	"Inkay": false,
	"Malamar": false,
	"Binacle": false,
	"Barbaracle": false,
	"Skrelp": false,
	"Dragalge": false,
	"Clauncher": false,
	"Clawitzer": false,
	"Helioptile": false,
	"Heliolisk": false,
	"Tyrunt": false,
	"Tyrantrum": false,
	"Amaura": false,
	"Aurorus": false,
	"Sylveon": false,
	"Hawlucha": false,
	"Dedenne": false,
	"Carbink": false,
	"Goomy": false,
	"Sliggoo": false,
	"Goodra": false,
	"Klefki": false,
	"Phantump": false,
	"Trevenant": false,
	"Pumpkaboo": false,
	"Gourgeist": false,
	"Bergmite": false,
	"Avalugg": false,
	"Noibat": false,
	"Noivern": false,
	"Xerneas": false,
	"Yveltal": false,
	"Zygarde": false,
	"Diancie": false,
	"Hoopa": false,
	"Volcanion": false
}
