{
	"Type": "pokemon",

	"Post_Without_IV": false,

	"min_iv": 80,
	"max_iv": 89,

	"min_level": 20,
	"max_level": 35,

	"min_cp": 0,
	"max_cp": 10000,

	"gender": "All",

	"size": "All",

	"Bulbasaur": true,
	"Ivysaur": true,
	"Venusaur": true,
	"Charmander": true,
	"Charmeleon": true,
	"Charizard": true,
	"Squirtle": true,
	"Wartortle": true,
	"Blastoise": true,
	"Caterpie": true,
	"Metapod": true,
	"Butterfree": true,
	"Weedle": true,
	"Kakuna": true,
	"Beedrill": true,
	"Pidgey": true,
	"Pidgeotto": true,
	"Pidgeot": true,
	"Rattata": true,
	"Raticate": true,
	"Spearow": true,
	"Fearow": true,
	"Ekans": true,
	"Arbok": true,
	"Pikachu": true,
	"Raichu": true,
	"Sandshrew": true,
	"Sandslash": true,
	"Nidoran♀": true,
	"Nidorina": true,
	"Nidoqueen": true,
	"Nidoran♂": true,
	"Nidorino": true,
	"Nidoking": true,
	"Clefairy": true,
	"Clefable": true,
	"Vulpix": true,
	"Ninetales": true,
	"Jigglypuff": true,
	"Wigglytuff": true,
	"Zubat": true,
	"Golbat": true,
	"Oddish": true,
	"Gloom": true,
	"Vileplume": true,
	"Paras": true,
	"Parasect": true,
	"Venonat": true,
	"Venomoth": true,
	"Diglett": true,
	"Dugtrio": true,
	"Meowth": true,
	"Persian": true,
	"Psyduck": true,
	"Golduck": true,
	"Mankey": true,
	"Primeape": true,
	"Growlithe": true,
	"Arcanine": true,
	"Poliwag": true,
	"Poliwhirl": true,
	"Poliwrath": true,
	"Abra": true,
	"Kadabra": true,
	"Alakazam": true,
	"Machop": true,
	"Machoke": true,
	"Machamp": true,
	"Bellsprout": true,
	"Weepinbell": true,
	"Victreebel": true,
	"Tentacool": true,
	"Tentacruel": true,
	"Geodude": true,
	"Graveler": true,
	"Golem": true,
	"Ponyta": true,
	"Rapidash": true,
	"Slowpoke": true,
	"Slowbro": true,
	"Magnemite": true,
	"Magneton": true,
	"Farfetch'd": true,
	"Doduo": true,
	"Dodrio": true,
	"Seel": true,
	"Dewgong": true,
	"Grimer": true,
	"Muk": true,
	"Shellder": true,
	"Cloyster": true,
	"Gastly": true,
	"Haunter": true,
	"Gengar": true,
	"Onix": true,
	"Drowzee": true,
	"Hypno": true,
	"Krabby": true,
	"Kingler": true,
	"Voltorb": true,
	"Electrode": true,
	"Exeggcute": true,
	"Exeggutor": true,
	"Cubone": true,
	"Marowak": true,
	"Hitmonlee": true,
	"Hitmonchan": true,
	"Lickitung": true,
	"Koffing": true,
	"Weezing": true,
	"Rhyhorn": true,
	"Rhydon": true,
	"Chansey": true,
	"Tangela": true,
	"Kangaskhan": true,
	"Horsea": true,
	"Seadra": true,
	"Goldeen": true,
	"Seaking": true,
	"Staryu": true,
	"Starmie": true,
	"Mr. Mime": true,
	"Scyther": true,
	"Jynx": true,
	"Electabuzz": true,
	"Magmar": true,
	"Pinsir": true,
	"Tauros": true,
	"Magikarp": true,
	"Gyarados": true,
	"Lapras": true,
	"Ditto": true,
	"Eevee": true,
	"Vaporeon": true,
	"Jolteon": true,
	"Flareon": true,
	"Porygon": true,
	"Omanyte": true,
	"Omastar": true,
	"Kabuto": true,
	"Kabutops": true,
	"Aerodactyl": true,
	"Snorlax": true,
	"Articuno": true,
	"Zapdos": true,
	"Moltres": true,
	"Dratini": true,
	"Dragonair": true,
	"Dragonite": true,
	"Mewtwo": true,
	"Mew": true,
	"Chikorita": true,
	"Bayleef": true,
	"Meganium": true,
	"Cyndaquil": true,
	"Quilava": true,
	"Typhlosion": true,
	"Totodile": true,
	"Croconaw": true,
	"Feraligatr": true,
	"Sentret": true,
	"Furret": true,
	"Hoothoot": true,
	"Noctowl": true,
	"Ledyba": true,
	"Ledian": true,
	"Spinarak": true,
	"Ariados": true,
	"Crobat": true,
	"Chinchou": true,
	"Lanturn": true,
	"Pichu": true,
	"Cleffa": true,
	"Igglybuff": true,
	"Togepi": true,
	"Togetic": true,
	"Natu": true,
	"Xatu": true,
	"Mareep": true,
	"Flaaffy": true,
	"Ampharos": true,
	"Bellossom": true,
	"Marill": true,
	"Azumarill": true,
	"Sudowoodo": true,
	"Politoed": true,
	"Hoppip": true,
	"Skiploom": true,
	"Jumpluff": true,
	"Aipom": true,
	"Sunkern": true,
	"Sunflora": true,
	"Yanma": true,
	"Wooper": true,
	"Quagsire": true,
	"Espeon": true,
	"Umbreon": true,
	"Murkrow": true,
	"Slowking": true,
	"Misdreavus": true,
	"Unown": true,
	"Wobbuffet": true,
	"Girafarig": true,
	"Pineco": true,
	"Forretress": true,
	"Dunsparce": true,
	"Gligar": true,
	"Steelix": true,
	"Snubbull": true,
	"Granbull": true,
	"Qwilfish": true,
	"Scizor": true,
	"Shuckle": true,
	"Heracross": true,
	"Sneasel": true,
	"Teddiursa": true,
	"Ursaring": true,
	"Slugma": true,
	"Magcargo": true,
	"Swinub": true,
	"Piloswine": true,
	"Corsola": true,
	"Remoraid": true,
	"Octillery": true,
	"Delibird": true,
	"Mantine": true,
	"Skarmory": true,
	"Houndour": true,
	"Houndoom": true,
	"Kingdra": true,
	"Phanpy": true,
	"Donphan": true,
	"Porygon2": true,
	"Stantler": true,
	"Smeargle": true,
	"Tyrogue": true,
	"Hitmontop": true,
	"Smoochum": true,
	"Elekid": true,
	"Magby": true,
	"Miltank": true,
	"Blissey": true,
	"Raikou": true,
	"Entei": true,
	"Suicune": true,
	"Larvitar": true,
	"Pupitar": true,
	"Tyranitar": true,
	"Lugia": true,
	"Ho-Oh": true,
	"Celebi": true,
	"Treecko": true,
	"Grovyle": true,
	"Sceptile": true,
	"Torchic": true,
	"Combusken": true,
	"Blaziken": true,
	"Mudkip": true,
	"Marshtomp": true,
	"Swampert": true,
	"Poochyena": true,
	"Mightyena": true,
	"Zigzagoon": true,
	"Linoone": true,
	"Wurmple": true,
	"Silcoon": true,
	"Beautifly": true,
	"Cascoon": true,
	"Dustox": true,
	"Lotad": true,
	"Lombre": true,
	"Ludicolo": true,
	"Seedot": true,
	"Nuzleaf": true,
	"Shiftry": true,
	"Taillow": true,
	"Swellow": true,
	"Wingull": true,
	"Pelipper": true,
	"Ralts": true,
	"Kirlia": true,
	"Gardevoir": true,
	"Surskit": true,
	"Masquerain": true,
	"Shroomish": true,
	"Breloom": true,
	"Slakoth": true,
	"Vigoroth": true,
	"Slaking": true,
	"Nincada": true,
	"Ninjask": true,
	"Shedinja": true,
	"Whismur": true,
	"Loudred": true,
	"Exploud": true,
	"Makuhita": true,
	"Hariyama": true,
	"Azurill": true,
	"Nosepass": true,
	"Skitty": true,
	"Delcatty": true,
	"Sableye": true,
	"Mawile": true,
	"Aron": true,
	"Lairon": true,
	"Aggron": true,
	"Meditite": true,
	"Medicham": true,
	"Electrike": true,
	"Manectric": true,
	"Plusle": true,
	"Minun": true,
	"Volbeat": true,
	"Illumise": true,
	"Roselia": true,
	"Gulpin": true,
	"Swalot": true,
	"Carvanha": true,
	"Sharpedo": true,
	"Wailmer": true,
	"Wailord": true,
	"Numel": true,
	"Camerupt": true,
	"Torkoal": true,
	"Spoink": true,
	"Grumpig": true,
	"Spinda": true,
	"Trapinch": true,
	"Vibrava": true,
	"Flygon": true,
	"Cacnea": true,
	"Cacturne": true,
	"Swablu": true,
	"Altaria": true,
	"Zangoose": true,
	"Seviper": true,
	"Lunatone": true,
	"Solrock": true,
	"Barboach": true,
	"Whiscash": true,
	"Corphish": true,
	"Crawdaunt": true,
	"Baltoy": true,
	"Claydol": true,
	"Lileep": true,
	"Cradily": true,
	"Anorith": true,
	"Armaldo": true,
	"Feebas": true,
	"Milotic": true,
	"Castform": true,
	"Kecleon": true,
	"Shuppet": true,
	"Banette": true,
	"Duskull": true,
	"Dusclops": true,
	"Tropius": true,
	"Chimecho": true,
	"Absol": true,
	"Wynaut": true,
	"Snorunt": true,
	"Glalie": true,
	"Spheal": true,
	"Sealeo": true,
	"Walrein": true,
	"Clamperl": true,
	"Huntail": true,
	"Gorebyss": true,
	"Relicanth": true,
	"Luvdisc": true,
	"Bagon": true,
	"Shelgon": true,
	"Salamence": true,
	"Beldum": true,
	"Metang": true,
	"Metagross": true,
	"Regirock": true,
	"Regice": true,
	"Registeel": true,
	"Latias": true,
	"Latios": true,
	"Kyogre": true,
	"Groudon": true,
	"Rayquaza": true,
	"Jirachi": true,
	"Deoxys": true,
	"Turtwig": true,
	"Grotle": true,
	"Torterra": true,
	"Chimchar": true,
	"Monferno": true,
	"Infernape": true,
	"Piplup": true,
	"Prinplup": true,
	"Empoleon": true,
	"Starly": true,
	"Staravia": true,
	"Staraptor": true,
	"Bidoof": true,
	"Bibarel": true,
	"Kricketot": true,
	"Kricketune": true,
	"Shinx": true,
	"Luxio": true,
	"Luxray": true,
	"Budew": true,
	"Roserade": true,
	"Cranidos": true,
	"Rampardos": true,
	"Shieldon": true,
	"Bastiodon": true,
	"Burmy": true,
	"Wormadam": true,
	"Mothim": true,
	"Combee": true,
	"Vespiquen": true,
	"Pachirisu": true,
	"Buizel": true,
	"Floatzel": true,
	"Cherubi": true,
	"Cherrim": true,
	"Shellos": true,
	"Gastrodon": true,
	"Ambipom": true,
	"Drifloon": true,
	"Drifblim": true,
	"Buneary": true,
	"Lopunny": true,
	"Mismagius": true,
	"Honchkrow": true,
	"Glameow": true,
	"Purugly": true,
	"Chingling": true,
	"Stunky": true,
	"Skuntank": true,
	"Bronzor": true,
	"Bronzong": true,
	"Bonsly": true,
	"Mime Jr.": true,
	"Happiny": true,
	"Chatot": true,
	"Spiritomb": true,
	"Gible": true,
	"Gabite": true,
	"Garchomp": true,
	"Munchlax": true,
	"Riolu": true,
	"Lucario": true,
	"Hippopotas": true,
	"Hippowdon": true,
	"Skorupi": true,
	"Drapion": true,
	"Croagunk": true,
	"Toxicroak": true,
	"Carnivine": true,
	"Finneon": true,
	"Lumineon": true,
	"Mantyke": true,
	"Snover": true,
	"Abomasnow": true,
	"Weavile": true,
	"Magnezone": true,
	"Lickilicky": true,
	"Rhyperior": true,
	"Tangrowth": true,
	"Electivire": true,
	"Magmortar": true,
	"Togekiss": true,
	"Yanmega": true,
	"Leafeon": true,
	"Glaceon": true,
	"Gliscor": true,
	"Mamoswine": true,
	"Porygon-Z": true,
	"Gallade": true,
	"Probopass": true,
	"Dusknoir": true,
	"Froslass": true,
	"Rotom": true,
	"Uxie": true,
	"Mesprit": true,
	"Azelf": true,
	"Dialga": true,
	"Palkia": true,
	"Heatran": true,
	"Regigigas": true,
	"Giratina": true,
	"Cresselia": true,
	"Phione": true,
	"Manaphy": true,
	"Darkrai": true,
	"Shaymin": true,
	"Arceus": true,
	"Victini": true,
	"Snivy": true,
	"Servine": true,
	"Serperior": true,
	"Tepig": true,
	"Pignite": true,
	"Emboar": true,
	"Oshawott": true,
	"Dewott": true,
	"Samurott": true,
	"Patrat": true,
	"Watchog": true,
	"Lillipup": true,
	"Herdier": true,
	"Stoutland": true,
	"Purrloin": true,
	"Liepard": true,
	"Pansage": true,
	"Simisage": true,
	"Pansear": true,
	"Simisear": true,
	"Panpour": true,
	"Simipour": true,
	"Munna": true,
	"Musharna": true,
	"Pidove": true,
	"Tranquill": true,
	"Unfezant": true,
	"Blitzle": true,
	"Zebstrika": true,
	"Roggenrola": true,
	"Boldore": true,
	"Gigalith": true,
	"Woobat": true,
	"Swoobat": true,
	"Drilbur": true,
	"Excadrill": true,
	"Audino": true,
	"Timburr": true,
	"Gurdurr": true,
	"Conkeldurr": true,
	"Tympole": true,
	"Palpitoad": true,
	"Seismitoad": true,
	"Throh": true,
	"Sawk": true,
	"Sewaddle": true,
	"Swadloon": true,
	"Leavanny": true,
	"Venipede": true,
	"Whirlipede": true,
	"Scolipede": true,
	"Cottonee": true,
	"Whimsicott": true,
	"Petilil": true,
	"Lilligant": true,
	"Basculin": true,
	"Sandile": true,
	"Krokorok": true,
	"Krookodile": true,
	"Darumaka": true,
	"Darmanitan": true,
	"Maractus": true,
	"Dwebble": true,
	"Crustle": true,
	"Scraggy": true,
	"Scrafty": true,
	"Sigilyph": true,
	"Yamask": true,
	"Cofagrigus": true,
	"Tirtouga": true,
	"Carracosta": true,
	"Archen": true,
	"Archeops": true,
	"Trubbish": true,
	"Garbodor": true,
	"Zorua": true,
	"Zoroark": true,
	"Minccino": true,
	"Cinccino": true,
	"Gothita": true,
	"Gothorita": true,
	"Gothitelle": true,
	"Solosis": true,
	"Duosion": true,
	"Reuniclus": true,
	"Ducklett": true,
	"Swanna": true,
	"Vanillite": true,
	"Vanillish": true,
	"Vanilluxe": true,
	"Deerling": true,
	"Sawsbuck": true,
	"Emolga": true,
	"Karrablast": true,
	"Escavalier": true,
	"Foongus": true,
	"Amoonguss": true,
	"Frillish": true,
	"Jellicent": true,
	"Alomomola": true,
	"Joltik": true,
	"Galvantula": true,
	"Ferroseed": true,
	"Ferrothorn": true,
	"Klink": true,
	"Klang": true,
	"Klinklang": true,
	"Tynamo": true,
	"Eelektrik": true,
	"Eelektross": true,
	"Elgyem": true,
	"Beheeyem": true,
	"Litwick": true,
	"Lampent": true,
	"Chandelure": true,
	"Axew": true,
	"Fraxure": true,
	"Haxorus": true,
	"Cubchoo": true,
	"Beartic": true,
	"Cryogonal": true,
	"Shelmet": true,
	"Accelgor": true,
	"Stunfisk": true,
	"Mienfoo": true,
	"Mienshao": true,
	"Druddigon": true,
	"Golett": true,
	"Golurk": true,
	"Pawniard": true,
	"Bisharp": true,
	"Bouffalant": true,
	"Rufflet": true,
	"Braviary": true,
	"Vullaby": true,
	"Mandibuzz": true,
	"Heatmor": true,
	"Durant": true,
	"Deino": true,
	"Zweilous": true,
	"Hydreigon": true,
	"Larvesta": true,
	"Volcarona": true,
	"Cobalion": true,
	"Terrakion": true,
	"Virizion": true,
	"Tornadus": true,
	"Thundurus": true,
	"Reshiram": true,
	"Zekrom": true,
	"Landorus": true,
	"Kyurem": true,
	"Keldeo": true,
	"Meloetta": true,
	"Genesect": true,
	"Chespin": true,
	"Quilladin": true,
	"Chesnaught": true,
	"Fennekin": true,
	"Braixen": true,
	"Delphox": true,
	"Froakie": true,
	"Frogadier": true,
	"Greninja": true,
	"Bunnelby": true,
	"Diggersby": true,
	"Fletchling": true,
	"Fletchinder": true,
	"Talonflame": true,
	"Scatterbug": true,
	"Spewpa": true,
	"Vivillon": true,
	"Litleo": true,
	"Pyroar": true,
	"Flabébé": true,
	"Floette": true,
	"Florges": true,
	"Skiddo": true,
	"Gogoat": true,
	"Pancham": true,
	"Pangoro": true,
	"Furfrou": true,
	"Espurr": true,
	"Meowstic": true,
	"Honedge": true,
	"Doublade": true,
	"Aegislash": true,
	"Spritzee": true,
	"Aromatisse": true,
	"Swirlix": true,
	"Slurpuff": true,
	"Inkay": true,
	"Malamar": true,
	"Binacle": true,
	"Barbaracle": true,
	"Skrelp": true,
	"Dragalge": true,
	"Clauncher": true,
	"Clawitzer": true,
	"Helioptile": true,
	"Heliolisk": true,
	"Tyrunt": true,
	"Tyrantrum": true,
	"Amaura": true,
	"Aurorus": true,
	"Sylveon": true,
	"Hawlucha": true,
	"Dedenne": true,
	"Carbink": true,
	"Goomy": true,
	"Sliggoo": true,
	"Goodra": true,
	"Klefki": true,
	"Phantump": true,
	"Trevenant": true,
	"Pumpkaboo": true,
	"Gourgeist": true,
	"Bergmite": true,
	"Avalugg": true,
	"Noibat": true,
	"Noivern": true,
	"Xerneas": true,
	"Yveltal": true,
	"Zygarde": true,
	"Diancie": true,
	"Hoopa": true,
	"Volcanion": {"min_iv":"80"}
}
